@model IEnumerable<WebStore.Models.Employee>
@{
    ViewData["Title"] = "О сотрудниках";
}

 <div class="container">
        <h3>Сотрудники</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>  
                    <th>Ф.И.О</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var employee in Model)
                {
                    <tr>
                    <td>@employee.Id</td>
                    <td>@employee.LastName</td>
                    <td>@employee.FirstName</td>
                    <td>@employee.Patronymic</td>                
                    <td><a asp-controller="Employees" asp-action="Details" asp-route-Id="@employee.Id">@employee.ShortName</a></td>                
                </tr> 
                }
            </tbody>
        </table>

        <hr/>
        <p>
            <a asp-controller="Home" asp-action="Index">На главную</a>
        </p>
</div>

<partial name="Partial/_Sea"/>     

 <body onload="boot();">
        <canvas id="holder"></canvas>
 </body>
