@model IEnumerable<WebStore.Models.Employee>
@{
    ViewData["Title"] = "О сотрудниках";
}
 <style type="text/css">         
        .container-flex{
            margin: 50px;
            flex-direction: row;
            display: flex;
            
            align-items: stretch;
        }
        .table{            
            padding: 5px;
            width: 40%;            
            margin: 5px;             
        }
 </style> 

 <h3 class="container-flex">Сотрудники</h3>

 <div class="container-flex">        
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>  
                    <th>Ф.И.О</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var employee in Model)
                {
                  <tr>
                    <td>@employee.Id</td>
                    <td>@employee.LastName</td>
                    <td>@employee.FirstName</td>
                    <td>@employee.Patronymic</td>                
                    <td><a asp-controller="Employees" asp-action="Details" asp-route-Id="@employee.Id">@employee.ShortName</a></td> 
                    <td><a asp-action="Edit" asp-route-Id="@employee.Id"> 
                        <span class = "fa fa-edit"> </span> </a>
                    </td>
                 </tr> 
                }
            </tbody>
        </table>
        <partial name="Partial/_Sea"/>                
</div>   

<p class="container-flex">
    <a asp-controller="Home" asp-action="Index">На главную</a>
</p> 



