@model IEnumerable<WebStore.Models.Employee>
@{
    ViewData["Title"] = "О сотрудниках";
}
 <style type="text/css">         
        .container-flex{
            margin: 50px;
            flex-direction: row;
            display: flex;
            
            align-items: stretch;
        }
        .table{            
            padding: 5px;
            width: 40%;            
            margin: 5px;             
        }
 </style> 

 <h3 class="container-flex">Сотрудники</h3>

 <div class="container-flex"> 

    <p>
        <a asp-action="Edit" class="btn btn-default">Создать</a>
        <a asp-action="Create" class="btn btn-default">Создать2</a>
    </p>
    <hr/>

    @if (Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>  
                    <th>Ф.И.О</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var employee in Model)
                {
                  <tr>
                    <td> 
                        <form asp-action="DeleteConfirmed" asp-route-id=@employee.Id>
                        <input type="submit" value="X" class="btn btn-danger btn-sm" /> </form>
                    </td>
                    <td>@employee.Id</td>
                    <td>@employee.LastName</td>
                    <td>@employee.FirstName</td>
                    <td>@employee.Patronymic</td>                
                    <td><a asp-controller="Employees" asp-action="Details" asp-route-Id="@employee.Id">@employee.ShortName</a></td> 
                    <td><a asp-action="Edit" asp-route-Id="@employee.Id"> 
                            <span class = "fa fa-edit"> </span> </a>
                        <a asp-action="Delete" asp-route-Id="@employee.Id" class="text-danger"> 
                            <span class = "fa fa-times"> </span> </a>
                    </td>
                 </tr> 
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Сотрудников нет!</p>
    }
    <hr />
        <partial name="Partial/_Sea"/>                
</div>   

<p class="container-flex">
    <a asp-controller="Home" asp-action="Index">На главную</a>
</p> 



