@using WebStore.Services.Interfaces;
@using WebStore.Domain.Entities;

@model ICollection<Employee>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>                
                <th>Возраст, лет</th>                
            </tr>
        </thead> 
        <tbody>
            <tr>      
            @{
                var employee = Model.FirstOrDefault(employee => employee.Id.ToString() == ViewBag.Message);
            }
                    <td>@employee.Id</td>
                    <td>@employee.LastName</td>
                    <td>@employee.FirstName</td>
                    <td>@employee.Patronymic</td>                
                    <td>@employee.Age</td>
                    
            
                
                @*<td>@Model.FirstOrDefault(x => x.Id.ToString() == ViewBag.Message).Id</td>
                <td>@Model.First(x => x.Id.ToString() == ViewBag.Message).LastName</td>
                <td>@Model.First(x => x.Id.ToString() == ViewBag.Message).FirstName</td>
                <td>@Model.First(x => x.Id.ToString() == ViewBag.Message).Patronymic</td>                
                <td>@Model.First(x => x.Id.ToString() == ViewBag.Message).Age*</td>*@                
            </tr> 
        </tbody>
    </table>       
    <hr/>

    <p>
        <img src="/QR/QRCode?str=@employee.ShortName" width="250"/>
    </p>

