@using WebStore.Models

@model IEnumerable<WebStore.Models.Employee>
     

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>                
                <th>Возраст, лет</th>                
            </tr>
        </thead> 
        <tbody>
            <tr>               
                <td>@Model.First(x => x.Id.ToString() == ViewBag.Message).Id</td>
                <td>@Model.First(x => x.Id.ToString() == ViewBag.Message).LastName</td>
                <td>@Model.First(x => x.Id.ToString() == ViewBag.Message).FirstName</td>
                <td>@Model.First(x => x.Id.ToString() == ViewBag.Message).Patronymic</td>                
                <td>@Model.First(x => x.Id.ToString() == ViewBag.Message).Age</td>                
            </tr> 
        </tbody>
    </table>       
    <hr/>

    <p>
        <img src="/QR/QRCode?str=@Model.First(x => x.Id.ToString() == ViewBag.Message).ShortName" width="250"/>
    </p>

